{%extends 'base.html'%}
{%block title%} Team {%endblock%}
{% load static %}
{% block content %}
<div class="card-body">
    <div class="row justify-content-center my-20">
        <!--begin: Pricing-->
        <div class="col-md-4 col-xxl-3">
            <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
                  <!--begin::Icon-->
                <div class="d-flex flex-center position-relative mb-25" >
                        <span class="svg svg-fill-primary opacity-50 position-absolute">
<!--                             <div class="image" style="content:url('{{ request.session.user.avatar }}')" ></div>-->
                            <img src="#" alt="Image"  height="175" width="175">
                        </span>
                    <span class="svg-icon svg-icon-5x svg-icon-primary"><!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Cart2.svg--><svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                    </svg><!--end::Svg Icon--></span></div>

                <!--end::Icon-->

                <!--begin::Content-->
                <span class="font-size-h2 d-block d-block font-weight-boldest text-dark-75 py-2">Gustavo Farina</span>
                <h4 class="font-size-h6 d-block d-block font-weight-bold mb-7 text-dark-50">Developer</h4>
                <p class="mb-15 d-flex flex-column">
                    <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                    <span>sed do eiusmod elpors labore et dolore</span>
                    <span>magna siad enim aliqua</span>
                </p>
                <a href="https://www.linkedin.com/in/gustavo-y-farina/" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Linkedin</a>
                <!--end::Content-->
            </div>
        </div>
        <!--end: Pricing-->

        <!--begin: Pricing-->
        <div class="col-md-4 col-xxl-3 border-x-0 border-x-md border-y border-y-md-0">
            <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
                <!--begin::Icon-->
                <div class="d-flex flex-center position-relative mb-25" >
                        <span class="svg svg-fill-primary opacity-50 position-absolute">
<!--                             <div class="image" style="content:url('{{ request.session.user.avatar }}')" ></div>-->
                            <img src="#" alt="Image"  height="175" width="175">
                        </span>
                    <span class="svg-icon svg-icon-5x svg-icon-primary"><!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Cart2.svg--><svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                    </svg><!--end::Svg Icon--></span></div>

                <!--end::Icon-->

                <!--begin::Content-->
                <span class="font-size-h2 d-block font-weight-boldest text-dark-75 py-2">Rhainan Domingos</span>
                <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">Developer</h4>
                <p class="mb-15 d-flex flex-column">
                    <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                    <span>sed do eiusmod elpors labore et dolore</span>
                    <span>magna siad enim aliqua</span>
                </p>
                <a href="https://www.linkedin.com/in/rhainan-domingos-8354b520a/" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Linkedin</a>
                <!--end::Content-->
            </div>
        </div>
        <!--end: Pricing-->

        <!--begin: Pricing-->
        <div class="col-md-4 col-xxl-3">
            <div class="pt-30 pt-md-25 pb-15 px-5 text-center" >
                <!--begin::Icon-->
                <div class="d-flex flex-center position-relative mb-25" >
                        <span class="svg svg-fill-primary opacity-50 position-absolute">
<!--                             <div class="image" style="content:url('{{ request.session.user.avatar }}')" ></div>-->
                            <img src="#" alt="Image"  height="175" width="175">
                        </span>
                    <span class="svg-icon svg-icon-5x svg-icon-primary"><!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Cart2.svg--><svg
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                    </svg><!--end::Svg Icon--></span></div>

                <!--end::Icon-->

                <!--begin::Content-->
                <span class="font-size-h2 d-block font-weight-boldest text-dark-75 py-2">Edilson Junior</span>
                <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">Developer</h4>
                <p class="mb-15 d-flex flex-column">
                    <span>Lorem ipsum dolor sit amet edipiscing elit</span>
                    <span>sed do eiusmod elpors labore et dolore</span>
                    <span>magna siad enim aliqua</span>
                </p>
                <a href="https://www.linkedin.com/in/edilson-campos-lima-junior-16018715a/" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Linkedin</a>
                <!--end::Content-->
            </div>
        </div>
        <!--end: Pricing-->
    </div>
</div>
{% endblock %}