.idea/
venv/
db.sqlite3

accounts\__pycache__\
accounts\migrations\__pycache__\

analyzer\__pycache__\
analyzer\migrations\__pycache__\


home\__pycache__\
home\migrations\__pycache__\

iris\__pycache__\
iris\migrations\__pycache__\

resumes\__pycache__\
resumes\migrations\__pycache__\